@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Micro+5+Charted&family=Oswald:wght@200..700&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 50%;
}

.iams {
    display: flex;
    flex-direction: row;
    justify-content: left;
    h1 {
        color: black;
        font-size: 40px;
        font-family: 'Dancing Script';
        border: solid black;
        border-radius: 50%;
        padding: 20%;
    }
    height: 120px;
    padding: 10px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: absolute;
    padding: 15px;
    width: 100%;
    right: 0%;
    gap: 2%;
}

.icons2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    position: relative;
    display: flex;
    border-bottom: 10px solid green;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    background: linear-gradient(white, lightblue);
}

.foto {
    margin-top: 10%;
    border: solid black;
    border-radius: 15px;
    width: 400px;
    height: 420px;
    position: relative;
}

.texto {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    h1 {
        text-align: center;
        font-family: 'Jersey 25';
        padding: 2%;
    }
    p {
        text-align: justify;
        font-family: 'Playfair Display';
        font-size: 16px;
        padding: 1%;
    }
    height: 500px;
    width: 500px;
    position: relative;
}

.citi {
    width: 50px;
    height: 50px;
}

.instagram {
    width: 50px;
    height: 50px;
}

.spotify {
    width: 50px;
    height: 50px;
}

.github {
    width: 50px;
    height: 50px;
}

.nuvem {
    position: absolute;
    animation: clouds 20s infinite;
}

.mario {
    position: absolute;
    width: 10%;
    left: 0%;
    bottom: 0%;
    animation: mario_jump 4s linear infinite;
}

.pipe {
    position: absolute;
    width: 5%;
    bottom: 0%;
    animation: mario_pipe 4s linear infinite;
}

@keyframes clouds {
    from {
        right: -60%;
    }

    to {
        right: 100%;
    }
}

@keyframes mario_jump {
    0% {
        bottom: 0%;
    }

    85% {
        bottom: 0%;
    }

    90% {
        bottom: 40%;
    }

    95% {
        bottom: 40%;
    }

    100% {
        bottom: 0%;
    }
}

@keyframes mario_pipe {
    from {
        right: -10%;
    }

    to {
        right: 100%;
    }
}